<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <div class="navLink" id="back">
      <a href="/">Back</a>
    </div>
    <% newListItems.forEach((item) => { %>
        <div class="item">
          <p class="strike"><%=  item  %></p>
        </div>
    <% }) %>
  </div>

  <!--<div class="box" id="back">
    <a href="/">Back</a>
  </div>-->

<%- include("footer") -%>