<% const date = new Date(); %>

</main>
</body>

<footer class="box">
  <h2>Copyright <%= date.getFullYear(); %> &nbsp|&nbsp <a id="contact" href="mailto:barnacle55@pm.me">Contact</a></h2>
</footer>

</html>
